<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Twitter Basic Plus <%= @user.name %></h1>
    <p>
      You have successfully created a new account,
      with username : <%= @user.username%>.
      <br/>
    </p>
    <p>

    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>