<table>
  <thead>
  	<tr>
  		<th> Username </th>
      <th> Tweet ID </th>
      <th> Like Score </th>
      <th> Tweet Text </th>

  	</tr>
  </thead>
<tbody>

<%@tweets.each do |tweet, score| %>
		<tr>
			<td> <%= link_to tweet.username, show_user_url(tweet.username) %> </td>
      <td> <%= tweet.id%> </td>
      <td> <%= score %> </td>
      <td> <%= tweet.text %> </td>

		</tr>		
	<% end %>
  </tbody>
</table>
