<h1>Random Users</h1>
<p><%= link_to "Home", home_url %></p>
<table>
  <thead>
  	<tr>
  		<th> Pic </th>
  		<th> Username </th>
  		<th> Name </th>

  		
  	</tr>
  </thead>
<tbody>
<%@users.each do |user| %>
		<tr>
			<td> <%= image_tag user.picture %> </td>
			<td> <%= link_to user.username, show_user_url(user.username) %> </td>
			<td> <%= user.name %> </td>

			

		</tr>		
	<% end %>
  </tbody>
</table>